body,html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body{
    background: lightcoral;
}

.form-control{
    width: 205% !important;
}

.userIcon{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

tr,td{
    font-size: 20px;
    color: orange;
}

.banner:hover{
    color: #d9534f;
    background-color: #FFFFFF;
}

.glyphicon-ok{
    color: green !important;
}

.glyphicon-remove{
    color: red !important;
}
h2{
    color: #FFA500;
}